.currentWeather {
  display: block;
  width: 300px;
  text-align: center;
  margin-bottom: 50px;
}
.forecastWeather {
  display: flex;
  justify-content: center;
  line-height: 10px;
  border: dotted 1px;
  border-radius: 20px;
  margin-top: 10px;
  width: 300px;
}
.forecastWeather img {
  margin-left: 30px;
}
img {
  height: 100px;
}
.block {
  display: block;
}
.app {
  margin: auto;
  width: 300px;
}
